@import '@styles/shared.scss';

.food_list {
  display: block;
  color: var(--siteColorBlack);
}

.empty_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 18vh;
  p {
    color: var(--siteColorBlack);
    margin-top: 2rem;
    font-size: 1.2rem;
  }
  img {
    width: 50%;
  }
}
