@import '@styles/shared.scss';
.input_box {
  position: relative;
  span {
    display: block;
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
  }
  input {
    width: 100%;
    padding: 20px 35px 20px 20px;
    box-sizing: border-box;
    border-radius: 15px;
    background: var(--backGroundColor1);
    font-size: 1.2rem;
    color: var(--siteColorGray2);
  }
}
.unit {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
  font-size: 14px;
  color: var(--siteColorGray2);
}
