@import '@styles/shared.scss';
.input_box {
  position: relative;
  input {
    width: 100%;
    padding: 20px 35px 20px 20px;
    box-sizing: border-box;
    border-radius: 15px;
    background: $backGroundColor1;
    font-size: 1.2rem;
  }
}
.unit {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
  font-size: 14px;
  color: $siteColorGray2;
}
