@import '@styles/shared.scss';
.info_box {
  img {
    width: 3rem;
    height: 3rem;
    display: block;
  }

  p {
    font-size: 1.1rem;
    color: var(--siteColorGray1);
  }

  h2 {
    font-size: 2.2rem;
    color: var(--siteColorBlack);

    .unit {
      font-size: 1.2rem;
    }
  }
}
