@import '@styles/shared.scss';
.button {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, 0);
  width: calc(90vw - 30px);
  max-width: 737px;
  height: 4rem;
  line-height: 4rem;
  box-sizing: border-box;
  text-align: center;
  background: $siteColorMain;
  font-size: 1.2rem;
  border-radius: 15px;
  color: #fff;
  font-weight: bold;

  &.check {
    background: $lineColor1;
  }
  &.more {
    position: relative;
    left: auto;
    bottom: auto;
    width: auto;
    float: right;
    transform: none;
    background: none;
    height: auto;
    line-height: initial;
    font-size: 1.1rem;
    color: $siteColorMain;
    font-weight: normal;
  }
}
