@import '@styles/shared.scss';
.button {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, 0);
  width: calc(90vw - 30px);
  max-width: 737px;
  height: 4rem;
  line-height: 4rem;
  box-sizing: border-box;
  text-align: center;
  background: $siteColorMain;
  font-size: 1.2rem;
  border-radius: 15px;
  color: $siteColorWhite;
  font-weight: bold;

  &.check {
    background: $lineColor1;
  }
  &.none {
    position: relative;
    left: auto;
    bottom: auto;
    width: auto;
    float: right;
    transform: none;
    background: none;
    height: auto;
    line-height: initial;
    font-size: 1.1rem;
    color: $siteColorMain;
    font-weight: normal;
  }
  &.border {
    position: relative;
    left: auto;
    bottom: auto;
    width: auto;
    transform: none;
    background: none;
    height: auto;
    line-height: initial;
    font-size: 1rem;
    color: $siteColorGray1;
    font-weight: normal;
    border: 1px solid $lineColor1;
    border-radius: 30px;
    padding: 0.5rem 0.9rem;
  }
  &.focused {
    border-color: $siteColorMain;
    color: $siteColorMain;
    background: $siteColorSub;
  }
  &.nonefixed {
    height: 4rem;
    line-height: 4rem;
    position: relative;
    background: $siteColorMain;
    font-size: 1.2rem;
    border-radius: 15px;
    color: $siteColorWhite;
    font-weight: bold;
    padding: 0;
    width: 100%;
    bottom: 0;
  }
  &.noneBackground {
    background: none;
    border: 1px solid $lineColor1;
    color: $siteColorGray1;
  }
}
