article {
  overflow: hidden;
  margin-top: 2rem;
  border-radius: 15px;
  color: #fff;
  
  &.cold {
    // 0 이하 추울 때 cold
    // 3870FF ~ 33CCFF
    background: linear-gradient(90deg, #3870FF 0%, #33CCFF 100%);  
  }

  &.warm_up {
    // 0 ~ 15 워밍업이 필요 warm_up
    // 7E82FC ~ C5A9FF
    background: linear-gradient(90deg, #7E82FC 0%, #C5A9FF 100%);;
  }

  &.good {
    // 15 ~ 25 good
    // 1AB42C - 56D34C
    background: linear-gradient(90deg, #1AB42C 0%, #56D34C 100%);;
  }

  &.hot {
    // 운동하기 더울 때 26 ~ hot
    // FF6F2C ~ FEAA47
    background: linear-gradient(90deg, #FF6F2C 0%, #FEAA47 100%);;
  }

  &.rain_or_snow {
    // 비 또는 눈 rain_snow
    // 65758E ~ 3A4E72
    background: linear-gradient(90deg, #65758E 0%, #3A4E72 100%);;
  }

  svg {
    width: 4rem;
    height: 4rem;
    cursor: auto;
  }

  .weather_title {
    margin-top: 0.6rem;
  }

  .temp {
    font-size: 5rem;
    font-weight: 200;
    line-height: 1;
  }

  .sub_info {
    display: flex;
    justify-content: space-between;
    background-color: rgba($color: #000000, $alpha: 0.2);

    li {
      padding: 1rem;
      width: 33.33%; 
      text-align: center;
      color: #fff;
      border-right: 1px solid rgba($color: #000000, $alpha: 0.1);

      &:last-child {
        border: none;
      }
    }
  }
}


