.part_image {
  position: relative;
  max-width: 55px;
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &.아침 {
    background-image: url('@assets/ic-morning-normal.png');
  }
  &.점심 {
    background-image: url('@assets/ic-lunch-normal.png');
  }
  &.저녁 {
    background-image: url('@assets/ic-dinner-normal.png');
  }
  &.간식 {
    background-image: url('@assets/ic-snack-normal.png');
  }
  &.다크아침 {
    background-image: url('@assets/ic-morning-white.png');
  }
  &.다크점심 {
    background-image: url('@assets/ic-lunch-white.png');
  }
  &.다크저녁 {
    background-image: url('@assets/ic-dinner-white.png');
  }
  &.다크간식 {
    background-image: url('@assets/ic-snack-white.png');
  }
}
