@import '@styles/shared.scss';
.react-calendar {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  max-width: 100%;
  padding-bottom: 1rem;
  background: var(--lineColor3);
  box-shadow: var(--boxShadow);
  border-top: 1px solid var(--lineColor2);
  border-bottom: 1px solid var(--lineColor2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
  position: relative;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 45px;
  margin-bottom: 1em;
  border-bottom: 1px solid var(--lineColor2);
}
.react-calendar__navigation button {
  min-width: 44px;
  font-size: 1.5rem;
  background: none;
  color: var(--siteColorBlack);
}
.react-calendar__navigation button .react-calendar__navigation__label__labelText {
  font-size: 1.1rem;
}
.react-calendar__navigation button:disabled {
  background-color: var(--siteColorWhite);
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: var(--lineColor2);
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.9rem;
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--siteColorBlack);
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: var(--siteColorGray2);
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 0.9rem 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  color: var(--siteColorGray1);
  font-size: 1em;
}
.react-calendar__tile:disabled {
  background-color: var(--siteColorWhite);
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: var(--lineColor2);
}
.react-calendar__tile--now {
  background: var(--siteColorGray1);
  color: var(--siteColorWhite);
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: var(--siteColorGray1);
  color: var(--siteColorWhite);
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #006edc !important;
  color: var(--siteColorWhite);
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: var(--lineColor2);
}
.react-calendar__month-view__days__day--weekend {
  color: #ae0c0cbf !important;
}
.react-calendar .highlight {
  &:before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    background: var(--siteColorMain);
    width: 0.4rem;
    height: 0.4rem;
    top: 30%;
    left: 50%;
    margin-left: -19px;
    transform: translate(-50%, -50%);
  }
}

.react-calendar.mypage {
  width: 100%;
  position: relative;
  top: 0;
  z-index: 100;
  max-width: 100%;
  padding: 0.6rem 0;
  background: var(--siteColorWhite);
  box-shadow: var(--boxShadow);
  border-top: 1px solid var(--lineColor2);
  border-bottom: 1px solid var(--lineColor2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar.mypage button:enabled:hover {
  cursor: pointer;
}
.react-calendar.mypage .react-calendar__navigation {
  display: none;
}

.react-calendar.mypage .react-calendar__month-view__weekdays {
  display: none !important;
}

.react-calendar.mypage .react-calendar__month-view__days__day--neighboringMonth {
  background: #000 !important;
  visibility: hidden;
  opacity: 0;
}

.react-calendar.mypage .react-calendar__tile {
  padding: 0;
  height: 10vw;
  max-height: 70px;
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 0;
    background: var(--lineColor3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-left: 0;
    border: 0.37rem solid var(--siteColorWhite);
    transform: none;
  }
}

.react-calendar.mypage .highlight {
  &:before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 0;
    background: var(--siteColorMain);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-left: 0;
    transform: none;
  }
}
