@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700;900&family=Noto+Sans:wght@300;400;600;800;900&display=swap');
#root {
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.App {
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}
a:link,
a:visited {
  color: #000;
}
.clearfix:after {
  clear: both;
  display: block;
  content: '';
}

.blind,
legend {
  display: block;
  position: absolute;
  left: 0;
  top: -9999px;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans', 'Noto Sans KR', sans-serif;
  min-height: 100vh;
}

@media (min-width: 480px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 680px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 680px) {
  .App {
    width: 680px;
  }
}
@media (max-width: 680px) {
  .App {
    width: 90vw;
  }
}
