@charset "utf-8";

$siteColor1: #4c9838;
$inputColor: #f2f4f6;
$subTitColor: #888;

// siteColor
$SiteColorMain: #4c9838;
$G-siteColor-black: #000;
$G-siteColor-white: #fff;
$G-siteColor-gray1: #767676;
$SiteColorGray2: #999;

// lineColor
$G-lineColor-normal: #dbdbdb;
$G-lineColor-light: #e6e6e6;

// bgColor
$BackGroundColor1: #f2f4f6;
$G-bgColor-light: #f2f4f6;
