@charset "utf-8";

// siteColor
$siteColorMain: #4c9838;
$siteColorSub: #edf5eb;
$siteColorBlack: #000;
$siteColorWhite: #fff;
$siteColorGray1: #767676;
$siteColorGray2: #999;
// lineColor
$lineColor1: #dbdbdb;
$lineColor2: #e6e6e6;
$lineColor3: #f7f7f8;
// bgColor
$backGroundColor1: #f2f4f6;
$boxShadow: 0px 2px 5px 0px rgb(0 0 0 / 3%);

$deviceWidth: 767px;
