@charset "utf-8";

// siteColor
$G-siteColor-main: #4C9838; // main
$G-siteColor-black: #000;
$G-siteColor-white: #fff;
$G-siteColor-gray1: #767676;
$G-siteColor-gray2: #999;

// lineColor
$G-lineColor-normal: #dbdbdb;
$G-lineColor-light: #e6e6e6;

// bgColor
$G-bgColor-normal: #f2f4f6;
$G-bgColor-light: #f2f4f6;
