.title {
  margin: 20px 0px 20px 0px;
  white-space: pre-line;
  color: var(--siteColorBlack);
  &.sub {
    margin-bottom: 10px;
    h2 {
      font-weight: 400;
      font-size: 1.1rem;
      color: var(--siteColorBlack);
    }
  }
  h2 {
    font-weight: bold;
    font-size: 2rem;
    color: var(--siteColorBlack);
  }
  p {
    font-size: 1.1rem;
    margin-top: 3px;
    color: var(--siteColorGray1);
  }
}
