@import '@styles/shared.scss';
.wrapper {
  position: relative;
  overflow: scroll;
  height: 100vh;
  min-height: 800px;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 1.3rem;
  padding-bottom: 8.5rem;
  &.colorGray {
    background: var(--backGroundColor1);
  }
  &.colorWhite {
    background: var(--siteColorWhite);
  }
  &.none {
    padding: 0;
    padding-bottom: 8.5rem;
  }
}
