@import '@styles/shared.scss';
.intro_box {
  text-align: center;
  h1 {
    font-size: 3rem;
    font-weight: 900;
  }
  p {
    margin-top: 5px;
    color: $subTitColor;
    font-size: 1.3rem;
  }
  img {
    width: 18rem;
    margin-top: 40px;
  }
}
