@import '@styles/shared.scss';
.intro_box {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;

  color: var(--siteColorBlack);
  h1 {
    font-size: 3rem;
    font-weight: 900;
  }
  p {
    margin-top: 5px;
    color: var(--siteColorGray2);
    font-size: 1.2rem;
  }
  img {
    width: 18rem;
    margin-top: 40px;
  }
}
