.search_box {
  margin-top: 1rem;
  width: 100%;
  position: relative;

  input {
    padding-left: 3rem;
  }
  .search_button {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    z-index: 10;
  }

  .close_circle {
    position: absolute;
    top: 50%;
    right: 1rem;
    // left: 1rem;
    transform: translateY(-50%);
  }
}
