@import '@styles/shared.scss';
.header {
  text-align: left;
  position: relative;
  margin: 0px -1.3rem;
  padding: 1rem 1.3rem;
  background: #fff;
  h2 {
    font-size: 1.6rem;
    color: var(--siteColorMain);
  }
  p {
    font-size: 1rem;
    color: var(--siteColorGray2);
  }
}
