@import '@styles/shared.scss';
.header {
  text-align: left;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  padding: 1rem 1.3rem;
  box-sizing: border-box;
  z-index: 100;
  border-bottom: 1px solid var(--lineColor3);
  max-width: var(--deviceWidth);
  background: var(--siteColorWhite);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
  h2 {
    font-size: 1.6rem;
    color: var(--siteColorMain);
  }
  p {
    font-size: 1rem;
    color: var(--siteColorGray2);
  }
}
