@import '@styles/shared.scss';
.content {
  overflow: scroll;
  height: 100vh;
  background: $backGroundColor1;

  .wrap {
    background-color: $siteColorWhite;
  }

  form {
    margin-bottom: 1rem;
  }
}

.empty_box {
  display: flex;
  justify-content: center;
  padding-top: 22vh;
  
  img {
    width: 50%;
  }
}