@import '@styles/shared.scss';
.content {
  background: $backGroundColor1;
  height: 100vh;
  overflow: scroll;
  
  .wrap {
    background-color: $siteColorWhite;
  }

  form {
    margin-bottom: 1rem;
  }
}

.title_box {
  margin-left: 1rem;
  
  h1 {
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: $siteColorMain;
    margin-bottom: 0.4rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: $siteColorGray2;
  }
  
}

.empty_box {
  display: flex;
  justify-content: center;
  padding-top: 22vh;
  img {
    width: 50%;
  }
}