@import '@styles/shared.scss';
.list_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.6rem;
  padding: 1.6rem 1.6rem;
  border-radius: 1rem;
  background-color: $siteColorWhite;
  h2 {
    font-size: 1.3rem;
  }
  p {
    font-size: 1.16rem;
    color: $siteColorGray1;
  }
}