@import "@styles/shared.scss";

.all_check {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--siteColorBlack);

  input[type=checkbox] {
    display: none;
  }
}

.list_container {
  width: 100%;
  padding: 2rem;
  background-color: var(--siteColorWhite);
  border-radius: 15px;
  box-sizing: border-box;
  color: var(--siteColorBlack);

  li {  
    display: flex;
    align-items: flex-start;
    position: relative;
    padding: 2rem 0;
    border-bottom: 1px solid var(--lineColor1);
  
    &.empty_list {
      display: flex;
      justify-content: center;
      padding: 0;
      border: none;
    }
  }
}

.order_container {
  margin-top: 2rem;
  border-top: 1px solid var(--lineColor1);
  border-bottom: 1px solid var(--lineColor1);
  color: var(--siteColorBlack);

  li {
    margin: 1rem 0;

    .order_title {
      color: var(--siteColorGray1);

      &.total {
        color: var(--siteColorBlack);
      }
    }

    .price {
      font-size: 1.3rem;

      &.total {
        font-size: 1.6rem;
        font-weight: 700;
        color: var(--siteColorMain);
      }
    }
  }
}