@import '@styles/shared.scss';
.count_box {
  overflow: hidden;
  background-color: var(--siteColorWhite);
  border: 1px solid #eee;
  border-radius: 15px;
  margin-bottom: 1.5rem;

  &.marginBottomNone {
    margin-bottom: 0;
  }

  form {
    width: calc(100% - 8rem);
  }

  .count {
    padding: 20px 0;
    width: 100%;
    font-size: 2rem;
    color: var(--siteColorBlack);
    text-align: center;
    outline: none;
    background: var(--siteColorWhite);

    &:focus {
      outline: none;
    }
    &.smallFont {
      font-size: 1.2rem;
    }
  }

  button {
    width: 48px;
    height: 48px;
    background-color: transparent;
  }
}
