@import '@styles/shared.scss';
.count_box {
  overflow: hidden;
  border: 1px solid var(--lineColor1);
  border-radius: 10px;
  margin-bottom: 1.5rem;

  form {
    width: calc(100% - 8rem);
  }

  .count {
    width: 100%;
    font-size: 2rem;
    color: var(--siteColorBlack);
    text-align: center;
    outline: none;
    background: var(--siteColorWhite);

    &:focus {
      outline: none;
    }
  }

  button {
    width: 4rem;
    height: 4rem;
    background-color: transparent;
  }
}
