@import '@styles/shared.scss';
.count_box {
  overflow: hidden;
  border: 1px solid var(--lineColor1);
  border-radius: 10px;

  .count {
    width: 100%;
    font-size: 2rem;
    color: var(--siteColorMain);
    text-align: center;
    outline: none;

    &:focus {
      outline: none;
    }
  }

  button {
    width: 4rem;
    height: 4rem;
    background-color: transparent;
  }
}
