@import '@styles/shared.scss';
.float_menu {
  position: fixed;
  bottom: 0;
  left: 50%;
  display: flex;
  justify-content: flex-start;
  transform: translate(-50%, 0);
  padding: 1.3rem;
  width: 100%;
  max-width: var(--deviceWidth);
  box-sizing: border-box;
  z-index: 100;
  background: var(--siteColorWhite);
  box-shadow: 0px -3px 5px 0px rgb(0 0 0 / 7%);
  color: var(--siteColorGray2);
  svg {
    font-size: 2.2rem;
  }
  p {
    margin-top: 2px;
    font-size: 1.1rem;
  }
}
